@charset "ISO-8859-1";

#div1 {
  width: 100%;
  background-color: white;
  display: none;
}

#div2 {
  height: 200px;
  width: 100%;
  background-color: blue;
  display: none;
}
#div4{
    width:100%;
	height:200px;
	background: orange;
}
#div3{
	margin-top:20px;
	height:200px;
    width: 100%;
    background: pink;
}